<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<th:block th:insert="fragments/base :: header"></th:block>
</head>
<body id="page-top">
	<!-- Page Wrapper  -->
	<div id="wrapper">
		<th:block th:insert="fragments/sidebar :: sidebar"></th:block>
		
		<!-- Main -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div class="container-fluid">

					<!-- List -->
					<div class="card shadow my-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">ユーザ一覧</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								
								<table id="user-table" class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>ユーザ名</th>
											<th>Email</th>
											<th>性別</th>
											<th>権限</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="user : ${users}" th:object="${user}">
											<td th:text="*{id}"></td>
											<td th:text="*{username}"></td>
											<td th:text="*{email}"></td>
											<td th:text="${T(com.example.demo.util.Type).GENDERS.get(user.gender)}"></td>
											<td th:text="*{role}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- End of List -->
					 
				</div>
			</div>
		</div>
		<!-- End of Main -->
		
		<th:block th:insert="fragments/base :: scripts"></th:block>
		<script th:src="@{/js/usertables.js}"></script>
	</div>
</body>
</html>