<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
	<meta charset="UTF-8">
	<th:block th:insert="fragments/base :: header"></th:block>
</head>
<body class="bg-gradient-primary">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-12 col-md-9">
			
				<!-- Card -->
				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
							<div class="col-lg-6">
								<div class="p-5">
									
									<!-- Register -->
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">ユーザ登録</h1>
										<form th:action="@{/register}" th:object="${user}" method="post" novalidate>
											<div class="form-group">
												<label for="name">
													<span class="badge badge-danger">必須</span>ユーザ名
												</label>
												<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{username}">
												<div class="invalid-feedback" th:errors="*{username}"></div>
											</div>

											<div class="form-group">
												<label for="password">
													<span class="badge badge-danger">必須</span>パスワード
												</label>
												<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{password}">
												<div class="invalid-feedback" th:errors="*{password}"></div>
											</div>
											

											<div class="form-group">
												<label for="email">
													<span class="badge badge-danger">必須</span>メールアドレス
												</label>
												<input type="email" class="form-control" th:errorclass="is-invalid" th:field="*{email}">
												<div class="invalid-feedback" th:errors="*{email}"></div>
											</div>

											<div class="form-group">
												<label for="gender">性別</label>
												<div th:each="gender:${T(com.example.demo.util.Type).GENDERS}">
													<input type="radio" class="ml-2" th:field="*{gender}" th:value="${gender.key}">
													<label th:for="${#ids.prev('gender')}" th:text="${gender.value}"></label>
												</div>
											</div>
											
											<div class="form-check mb-2">
												<input type="checkbox" class="form-check-input" th:field="*{admin}">
												<label th:for="${#ids.prev('admin')}">管理者(Admin)として登録する</label>
											</div>
											
											<button class="btn btn-primary btn-	user btn-block">登録</button>
										</form>
									</div>
									<!-- End of Registration -->
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Card -->
			
			</div>
		</div>
	</div>
	
	<th:block th:insert="fragments/base :: script"></th:block>
</body>
</html>