@charset "UTF-8";

.bg-login-image {
	background: url(/webjars/startbootstrap-sb-admin-2/img/undraw-posting-photo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}